@model BillPayPageModel
@{
}

<h2>Bill Pay</h2>
<hr />

<div class="row">
    <div class="col-6">
        <div class="container-fluid">
            <form asp-action="AddBillPayItem" id="billpay_form">
                <div class="row">
                    <div class="col">
                        <label asp-for="NewItem.Scheduled" class="form-label"></label>
                        <input asp-for="NewItem.Scheduled" class="form-control" type="date" />
                        <span asp-validation-for="NewItem.Scheduled" class="alert"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="NewItem.Payee" class="form-label"></label>
                        <input asp-for="NewItem.Payee" class="form-control" />
                        <span asp-validation-for="NewItem.Payee" class="alert"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="NewItem.Amount" class="form-label"></label>
                        <input asp-for="NewItem.Amount" class="form-control" />
                        <span asp-validation-for="NewItem.Amount" class="alert"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" >Schedule</button>
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-6" id="bill_list">
        <partial name="_ScheduledBillPay" model="@Model.Items" />
    </div>
</div>
